{% comment %} gift wrapping added to cart - am {% endcomment %}

{% comment %}if gift-wrapping menu exists with something in it and link points to product page{% endcomment %}
{% if linklists.gift-wrapping.links.size > 0 and linklists.gift-wrapping.links.first.type == 'product_link' %}

<div class="upsell__holder">
  <h2 class="upsell__holder__title">Add to order</h2>
  <div class="upsell">
    <div class="upsell__image">
      <img class="upsell__image__inner" loading="lazy" alt="Gift Packaging" src="https://cdn.shopify.com/s/files/1/0037/0681/4577/files/Gift-Packaging-Everyday-Mother-Baby-Shower.jpg?v=1657480094" width="90" height="90">
    </div>
    <div class="upsell__content">
      <a href="/products/balancing-serum">
        <h3 class="upsell__title">Add Gift Packaging</h3>
        <p class="upsell__price ">
          <span class="new-price">{{ linklists.gift-wrapping.links.first.object.price | money }}</span>
        </p>
      </a>

      <label style="padding-left: 0.7em;" class="upsell__btn uppercase btn--soft btn--small btn--primary" >
        <input style="opacity:0!important;" id="gift-wrapping" type="checkbox" name="attributes[gift-wrapping]" value="yes" {% if cart.attributes.gift-wrapping %} checked="checked"{% endif %} style="float: none" />
        <span class="btn-state-ready">Add to cart</span>
      </label>

    </div>
  </div>
</div>


{% comment %} linklists links to find gift-wrapping product(s) in a menu.  Object to return product associated with link {% endcomment %}
{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id %}

{% assign gift_wraps_in_cart = 0 %}
{% for item in cart.items %}
{% if item.id == id %}
  {% assign gift_wraps_in_cart = item.quantity %}
{% endif %}
{% endfor %}




<style>
  #updates_{{ id }} { display: none; }

  .gift-img {
    max-width: 90px !important;
  }
  /* @media screen and (max-width:749px){
    .gift-img {
      max-width: 50px !important;
    }
  } */

  .gift-center {
    padding-right: 10px;
    font-size: calc((13.144256px + 1.382528 * (100vw - 480px) / 920) * var(--FONT-ADJUST-BODY));
  }

  /* .is-a-gift {
    position: relative;
  }
  .message-container {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */
</style>



<script>

  Shopify.Cart = Shopify.Cart || {};

  Shopify.Cart.GiftWrap = {};

  Shopify.Cart.GiftWrap.set = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 1 }, attributes: { 'gift-wrapping': true } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  Shopify.Cart.GiftWrap.remove = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 0 }, attributes: { 'gift-wrapping': '', 'gift-note': '' } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  // set or remove Gift Wrap to cart based on following conditions:
  // If we have nothing but gift-wrap items in the cart.
  {% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.remove();
  });
  // If we have more than one gift-wrap item in the cart.
  {% elsif gift_wraps_in_cart > 1 %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
  {% elsif gift_wraps_in_cart > 0 and cart.attributes.gift-wrapping == blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
  {% elsif gift_wraps_in_cart == 0 and cart.attributes.gift-wrapping != blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  {% endif %}

  // When the gift-wrapping checkbox is checked or unchecked.
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelector('[name="attributes[gift-wrapping]"]').addEventListener("change", function(event) {
      if (event.target.checked) {
        Shopify.Cart.GiftWrap.set();
      } else {
        Shopify.Cart.GiftWrap.remove();
      }

    });

    document.querySelector('#gift-note').addEventListener("change", function(evt) {
      var note = evt.target.value;
      var headers = new Headers({ 'Content-Type': 'application/json' });

      var request = {
        method: 'POST',
        headers: headers,
        body: JSON.stringify({ attributes: { 'gift-note': note } })
      };

      fetch('/cart/update.js', request);
    });
  });

</script>

{% endif %}
