<div class="text-box-wrapper" >
  <label class="personal-name" for="personal-name">Name to be written:*</label>
  <input id="personal-name" type="text" name="properties[Name to be written: ]" required>
</div>

<style>
  .personal-name {
    /* font-family: var(--FONT-STACK-ACCENT);
    font-style: var(--FONT-STYLE-ACCENT);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--FONT-WEIGHT-ACCENT-BOLD);
    font-size: calc(12px * var(--FONT-ADJUST-ACCENT)); */
    padding-bottom: 8px;
    opacity: .7;
  }
</style>